<% obj.each do|article|%>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">

        <%= link_to article.title, article_path(article)
        %> 
        <%#click event%>
         
        </div>

        <div class="article-body">
         <%= 
         link_to cl_image_tag(article.image, :width => 250), article_path(article) if article.image.present?%>
         <p></p>
          <%= truncate(article.description, length: 100) %>
          <div class="article-meta-details"> 
          
              <small>Created by: <%= article.user.username if article.user.present?%>, 
              <%= time_ago_in_words(article.created_at) %> ago,
              last updated: <%= time_ago_in_words(article.updated_at) %>
              </small>
          
          </div>
        </div>
        <% if article.categories.any? %>
        <p>Categories: <%= render article.categories %></p>
        <% end%>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
        <%# || 마크에 주의하자. current_user.admin? 이어도 가능하게 해 준다 %>
          <div class="article-actions">

              <%= link_to 'Edit this Channel', edit_article_path(article), 
              class: "btn btn-xs btn-primary" %>
              <%= link_to 'Delete this Channel', article_path(article), method: :delete, 
                                                data: {confirm: "Do you want to delete the Channel?"}, 
                                                class: "btn btn-xs btn-danger" %>
          </div>  

          <% end  %>

      </div>
    </div>
</div>

<% end%>