<h2 align='center'> Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
<% if @article.user%>
<ul class="listing">
    <div class="row center">
    <%# 이경우 그냥 클라스에 center를 더했다 이미 클라스가 있기 때문에. %>
      <div class="col-md-4 col-md-offset-4">
      <li>Created By</li>
        <li><%= link_to cl_image_tag(@article.user.image, :width => 250, :id => "popo"), user_path(@article.user) %></li>
        <%# check if it working %>
        <%# to directly go to User path. What if i just use "use for user_path" %>
        <%# it would give error message. Article controller has no reference to user  %>
        <li class="article-title">
          <%= link_to @article.user.username, user_path(@article.user) %>
        </li>
        <li><small><%= pluralize(@article.user.articles.count, "Post") if @article.user.articles %></small></li>
      </div>
    </div>  
  </ul>
<% end %>
  <h4 class="center description"><strong> </strong> </h4>
  <div class="center"> <%= cl_image_tag(@article.image, :width => 400) %></div>
  

  <%= raw(@article.music) if @article.music.present? %>

   <%# raw(somePost.content). %>


<%# comment view parts use bootstrap%>

<div id="chatting">

    <p><h4>Current users on this channel</h4></p>
    <%=  @userlist.player %>
</div>

<div> 

<div id ="message-container"> 
<h3>Talking!</h3>

  <% @comments.each do |comment| %>
  <%if comment.article_id == @article.id %>
  <% user = User.find(comment.user_id) %>
  <%= user.username %> >> <%= comment.content%>
  <br>
  <% end %>
<% end %>

</div>





<%# User name list%>
<%# 차후에 메시지 형식의 부츠트랩이 있는지 찾아볼것. 섭밋 버튼도 마찬가지%>
  <%= form_for @comment do|f| %>

  <%= f.label "Message :" %>
  <%= f.text_field :content, :class => "message" %>

  <%= f.hidden_field :user_id, :value => current_user.id  %>
  <%= f.hidden_field :article_id, :value => @article.id%>

<%= f.submit "Send a message" %>
  <% end%>


</div>

  
  <hr>
    <%= simple_format(@article.description) %>
    <% if @article.categories.any? %>
    <p>Categories: <%= render @article.categories %></p>
    <%#Short cut for each, do%>
    <% end%> 
  <div class="article-actions">
 <% if logged_in? && (current_user == @article.user || current_user.admin?)%>
    <%= link_to 'Edit this Channel', edit_article_path(@article), 
    class: "btn btn-xs btn-primary" %>
    <%= link_to 'Delete this Channel', article_path(@article), method: :delete, 
                                      data: {confirm: "Do you want to delete the Channel?"}, 
                                      class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "View to Channel listing", articles_path, class: "btn btn-xs btn-success"  %>|
</div>  

</div>
