<h2 align='center'> Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
<% if @article.user%>
<ul class="listing">
    <div class="row center">
    <%# 이경우 그냥 클라스에 center를 더했다 이미 클라스가 있기 때문에. %>
      <div class="col-md-4 col-md-offset-4">
      <li>Created By</li>
        <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
        <%# to directly go to User path. What if i just use "use for user_path" %>
        <%# it would give error message. Article controller has no reference to user  %>
        <li class="article-title">
          <%= link_to @article.user.username, user_path(@article.user) %>
        </li>
        <li><small><%= pluralize(@article.user.articles.count, "Post") if @article.user.articles %></small></li>
      </div>
    </div>  
  </ul>
<% end %>
  <h4 class="center description"><strong>Description: </strong> </h4>
  <hr>
    <%= simple_format(@article.description) %>

  <div class="article-actions">

    <%= link_to 'Edit this article', edit_article_path(@article), 
    class: "btn btn-xs btn-primary" %>
    <%= link_to 'Delete this article', article_path(@article), method: :delete, 
                                      data: {confirm: "Do you want to delete the article?"}, 
                                      class: "btn btn-xs btn-danger" %>
    <%= link_to "View to articles listing", articles_path, class: "btn btn-xs btn-success"  %>|
</div>  

</div>
