<!DOCTYPE html>
<html>
  <head>
    <title>Slozzies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    '/stylesheets/custom', media: 'all' %>
    
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container">
       <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
   
  </body>
</html>
